.reusableModal {
  position: relative;
  width: 800px;
  height: 600px;

  background-color: #F9F9FB;

  border-radius: 12px;

  outline: none
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

