body {
  background-color: #DCDAF2;

}




h1 h2 p {
  font-family: "Source Sans Pro", sans-serif;
}

$steel-gray: #29273b;
$comet: #55517a;
$light-wisteria: #bbase1;
$rhino: #2b2e61;
$moon-raker: #eae1fa;
$mulled-wine: #49465e;
$martinique: #322f47;
$jacarta: #3b2e61;
$scampi: #6b65a2;
$koromiko: #ffba6b;
$gray: #8c8c8c;
$alto: #dadada;
$butterfly-bush: #614d8c;
$chetwode-blue: #88896DB;
$link-water: #dcdaf2;